.searchBx {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.main_bx_wrapper {
  box-shadow: 0px 4px 60px 0px #0000001a;
  background-color: #ffffff;
  height: 741px;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  .form_heading {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.submitCancelDualBtn {
  display: flex;
  height: 58px !important;
  button:first-child {
    margin-right: 20px;
  }
  button {
    width: 200px;
  }
  .cancelBtn {
    button {
      height: 54px !important;
      border-radius: 10px;
      height: 54px;
    }
  }
}


