.MuiGrid-container {
  display: flex;
  align-items: center;

  .header-first {
    display: flex;
    align-items: center;

    .icon-button-div {
      width: 55px;
      height: 58px;
    }

    .MuiIconButton-sizeMedium {
      width: 50px;
      height: 50px;
      background-color: #eaf1fb;
    }
    img {
      padding-left: 22px;
    }
  }

  .main-search-div {
    display: flex;
    align-items: center;
    background-color: #eaf1fb;
    border-radius: 20px;
    height: 45px;

    .search-child-div {
      display: flex;
      align-items: center;

      .css-i4bv87-MuiSvgIcon-root {
        margin-left: 8px;
        color: black;
      }

      input {
        border: 0;
        background-color: #eaf1fb;
        font-size: 16px;
        font-weight: 500;
        width: 200px;
        outline: 0;
      }
    }
  }

  .avatar-div {
    display: flex;
    justify-content: end;
    margin-right: 15px;
  }
  .MuiAvatar-circular {
    cursor: pointer;
  }
}
